<footer>
  <div id="ft">
    <div class="whatyoucando-cont-cont">
    </div>
    <div class="whatyoucando-cont">
        <div class="whatyoucando">
            <ul class="terms">
                <li class="social">
                    Follow us on <a href="https://twitter.com/sweetlyco">twitter</a>, <a href="https://www.facebook.com/sweetly.co">facebook</a> and <a href="https://plus.google.com/102392277339992057092/posts">google plus</a>
                </li>
                <li>
                    <%= link_to "Terms & Conditions", terms_path %>
                </li>
                <li>
                    <%= link_to "Privacy Policy", privacy_path %>
                </li>
                <li class="last">
                    <%= link_to "Contact us", contact_path %>
                </li>
            </ul> <!-- terms -->
        </div> <!-- whatyoucando -->
    </div>
    <div class="point10">
        A venture by <br/><a href="http://point10.co"><%= image_tag "http://point10.co/echai/wp-content/themes/echai/images/logo_new.png" %></a>
    </div> <!-- .point10 -->
  </div> <!-- #ft -->
</footer>
