<div class="container">
	<h1 class="headline" >Here's how we can get in touch.</h1>
  <div class="office">
    <address class="four columns alpha">
      <h5 class="headline">Sweetly US</h5>
      <p>161 Leverett Mail Center,<br/>28 DeWolf Street,<br />Cambridge, MA 02138 USA</p>
      <br />
      <p><a href="hello@sweetly.co">hello@sweetly.co</a></p>
    </address>
    <address class="four columns omega">
      <h5 class="headline">Sweetly India</h5>
      <p>A/20 Bhuvneshvarinagar<br />Shastri Road,<br />Bardoli 394602 India</p>
      <br />
      <p><a href="hello@sweetly.co">hello@sweetly.co</a></p>
    </address>
    <div class="clear"></div>
  </div>
</div>
