<div id="primary">
	<header>
		<h1 id="what-is">
			<span>Double the Impact with Sweetly Goodwill Bands</span> <br /><label>raise money for your student or community group </label>
		</h1>
	</header> <!-- #what-is -->
	<aside id="whatwedo">
		<p>Sweetly Goodwill Bands are simple way to raise money for your student or community group. <b><i><u>Purchase your Sweetly Goodwill Bands for $2 and keep the mark up profits for your group.</u></i></b> Double your impact and fund raise with a clear conscience !</p>
	</aside>
</div>
<article class="band-select">
	<h1>Choose & Order your Goodwill Band</h1>
	<div class="bands">
		<ul>
			<li>

			</li>
			<li>

			</li>
			<li class="last"> 

			</li>
			<li>

			</li>
			<li>

			</li>
			<li class="last">

			</li>
			<div class="clear"></div>
		</ul>
	</div>
	
</article>
