<div id="primary">
	<header>
		<h1 id="what-is">
			<span>Double the Impact with Sweetly Goodwill Bands</span> <br /><label>raise money for your student or community group </label>
		</h1>
	</header> <!-- #what-is -->
	<aside id="whatwedo">
		<p>Sweetly Goodwill Bands are simple way to raise money for your student or community group. <b><i><u>Purchase your Sweetly Goodwill Bands for $2 and keep the mark up profits for your group.</u></i></b> Double your impact and fund raise with a clear conscience !</p>
	</aside>
</div>
<article class="band-select">
	<h1>Choose & Order your Goodwill Band</h1>
	<div class="bands">
		<ul>
			<li>
				<%= image_tag "goodwillband/1.jpg", :width => "296" %>
			</li>
			<li>
				<%= image_tag "goodwillband/2.jpg", :width => "296" %>
			</li>
			<li class="last"> 
				<%= image_tag "goodwillband/3.jpg", :width => "296" %>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</article>
<div class="cendiv">
	<div class="partner-form">
		<h1>Please fill below details to place order</h1>
		<%= render :partial => 'partners/form' %>
	</div>
	<div class="partner-faq">
		<h2>FAQ</h2>
		<ul>
			<li>
				<div class="que">
					Minimum order required is 50 bands.
				</div>
			</li>
			<li>
				<div class="que">
					Price for each band is $2
				</div>
			</li>
			<li>
				<div class="que">
					Sweetly pays all shipping costs
				</div>
				<div class="ans">
					This is wornderful. You can get jewelry at 45% discount and earn the profit by reselling in you store.
				</div>
			</li>

		</ul>
	</div>
	<div class="clear"></div>
</div>
