<div id="primary" class="container">
  <article>
    <header>
      <h1 class="headline">Material used in Jewelry Making</h1>
    </header> <!-- #what-is -->   
    <section class="materials">
      <h5 class="headline">BEADS</h5>
      <div>
        <ul>
          <li>Crystal beads (Rondelle crystal beads): These are faceted glass beads usually in princess cut style, with a normal as well as reflective surface.They are available in sizes ranging from 4mm to 12mm.</li>
          <li>Seed beads ( Rocailles beads)  : These are very small round glass beads size ranging to 1mm.They are mainly used in necklaces and bracelets.</li>
          <li> Wooden beads: These beads come in all sizes from a few mm to cm .They come in simple or decorative surface with smooth texture and are light in weight.They are either cream, light/dark brown, black, marron in color and have round, cylindrical, flat round, square, oval etc shapes.</li>
          <li>Imitation pearls: These are pearl-shaped plastic beads which come with pearl white-luster or printed colorful surface. </li>
          <li>Marbled beads: They are polished ceramic beads having plain/decorative surface and range from 0.5 mm upto a few mm used mainly in necklace.</li>
          <li>Focal Glass beads: They are flat round beads either simple colored glass or are textured from inside.They range in few mm.They are like Murano beads.</li>
          <li>Cat's eye beads: cat's eye refracts light in a way reminiscent of the oblong center of a cat's eye.</li>
          <li>Acrylic beads: They are made of acrylic, laminated with stripes.</li>
          <li>Glass barrel beads: These glass beads are plain colored/patterned size ranging from 20-25mm.</li>
        </ul>
      </div>
      <h5 class="headline">THREADS AND WIRES</h5>
      <div>
        <ul>
          <li>Nylon thread: It is also known as Reshmi thread which is thin yet strong.</li>
          <li>Beading wire (Tigertail): It is a wire made of twisted multistrands of steel cables.</li>
          <li>Nymo thread: It is nylon thread as thick as 1mm used in making bracelets.</li>
          <li> Elastic: It is transparent elastic used in making bracelets and pendants, approx. 0.5 to 1mm thick.</li>
          <li>Jewellery wire: It is made of aluminium and has coated shiny surface metallic/color.It ranges from 0.1 to 1 mm.</li>
          <li>Plastic thread: It is a clear plastic thread about 0.2 mm.</li>
        </ul>
      </div>
      <h5 class="headline">HOOKS</h5>
      <div>
        <ul>
          <li>Earring hook (Fishhook) : They are made of copper and are silver coated.Also available in non-allergic form. </li>
          <li>Lobster-claw clasp: A self-closing clasp in the general shape of a lobster's claw. However, this spring-loaded clasp is available in a range of shapes, sizes and styles.</li>
          <li>Magnetic clasp:  A two-piece clasp containing one or more magnets. The magnets hold the two pieces of the clasp together, keeping the jewelry secure.</li>
          <li>'S' hook: A double-ended clasp shaped like an "S."</li>
          <li>Multi-strand Clasp(with or w/o Rhinestones): A clasp which secures jewelry with two, three, four or more strands.</li>
        </ul>
      </div>
      <h5 class="headline">OTHERS</h5>
      <div>
        <ul>
          <li>Jumpring: A piece of wire formed into a loop, usually round, and used to connect together jewelry components.</li>
          <li>Eyepin: A length of wire, usually straight, with a pre-formed simple loop at one end.</li>
          <li>Headpin:  A length of wire, usually straight, with one flattened or embellished end. The flattened end prevents beads from slipping off the end of the pin.</li>
          <li>Crimp bead:A metal bead used with all beading wires and some beading cords to secure the beginning and to finish the end of a strand.</li>
          <li>Montee: It is a four hole metal cap holding a crystal in centre.Each crystal is held in place with four arms and the back of the piece has four crossing holes so you can stitch/fix it in desired place.</li>
          <li>Glue: A fevibond tube of glue used to secure ends.</li>
          <li>Sleigh bells: Metal bells which have a pleasant ringing sound to them, used in bracelets ans anklets.</li>
          <li>Rhinestone spacers: These are metal rings with small rhinestones that can be used as spacers between beads to add more 'bling' to it.</li>
        </ul>
      </div>
    </section>
  </article>
</div>
