<div id="primary" class="container">
  <header>
    <h2 class="headline">Here are some of classic products from our designers</h2>
  </header> <!-- #what-is -->
  <ul class="left">
    <% for i in 1..16 %>
      <li class="four columns" style="height: 350px;">
        <%= image_tag "models/#{i}.jpg", :width => "200" %>
      </li>
    <% end %>
    <div class="clear"></div>
  </ul>
</div>
