<div id="primary">
  <article>
    <header>
      <h1 id="what-is">
        <span>Maximize your gains. Do Business for Good.</span>
      </h1>
    </header> <!-- #what-is -->   
    <section class="desc">
      <p>Partner with us to join our dream of creating the beautiful world and do Business for Good. We provide variety of tools and promotional materials to get you started and promote your sale. We have partnered with <u>organizations</u>, <u>community groups</u>, <u>student groups</u> and <u>individuals</u> who've got very good returns and also a satisfaction of doing Good.</p>
      <h4>Partner with us &mdash; Let's work together.</h4>
    </section>
  </article>
  <section class="partners">
    <article class="community">
      <header>
        <h1>Become a Community Partner</h1>
        <h2>Host Sweetly store with less investment</h2>
      </header>
      <p>
        <%= image_tag "sjs.jpg" %>
      </p>
      <ul>
        <li>Perfect for <span>Community fundraisers or Aspiring entrepreneurs</span></li>
        <li><span>Earn 25%</span> on every product</li>
        <li><span>Return unsold inventory</span> at no cost</li>
      </ul>
    </article>
    <article class="wholesale">
      <header>
        <h1>Become a Wholesale Partner</h1>
        <h2>Purchase products at 45% discount</h2>
      </header>
      <p>
        <%= image_tag "wholesale.jpg" %>
      </p>
      <ul>
        <li><span>Select from wide-range</span> of unique handmade designs.</li>
        <li><span>45% discount</span> on your wholesale order.</li>
        <li><span>Customize</span> designs to match your style.</li>
      </ul>
    </article>
    <div class="clear">
    </div>
  </section>
  <article class="our_partners">
    <header>
      <h1>Meet our Partners</h1>
    </header>
    <div>
      <ul>
        <li>
          <b>Circle of women:</b> is a commercial retail store in the Boston area who runs a small, fair trade retail store.
        </li>
        <li>
        <b>Karma yoga studio:</b> is a commercial retail store in the Boston area who runs a small, fair trade retail store.
        </li>
        <li>
          <b>Retail shop in Wembley, UK:</b> is a commercial retail store in the Boston area who runs a small, fair trade retail store.
        </li>
      </ul>
    </div>
  </article>
</div>
<div class="cendiv">
	<div class="partner-form">
		<h1>Let us know about your details:</h1>
		<%= render :partial => 'partners/form' %>
	</div>
	<div class="partner-faq">
		<h2>FAQs</h2>
		<ul>
      <li>
        <div class="que">
          Who can become partner?
        </div>
        <div class="ans">
          Anyone can become partner &mdash; Community group, Organization, Student groups, An Individual.
        </div>
      </li>
			<li>
        <div class="que">
          Can i use Sweetly products to fundraise?
        </div>
				<div class="ans">
          Yes. You can use Sweetly products to fundraise for your good purpose. We heartly welcome such proposals.
				</div>
			</li>
			<li>
        <div class="que">
          Can anyone make custom orders?
        </div>
				<div class="ans">
          Yes we accept custom orders. Get in touch with us to know about your orders.
				</div>
			</li>
			<li>
        <div class="que">
          Is shipping free for wholesale orders?
        </div>
				<div class="ans">
					Sweetly pays all shipping costs for wholesale orders.
				</div>
			</li>
			<li>
        <div class="que">
          Is there any minimum amount of order required for wholesale order?
        </div>
				<div class="ans">
					Yes. Minimum order should be $300.
				</div>
			</li>
      <li>
        <div class="que">
          From which countries you accept orders?
        </div>
        <div class="ans">
          We accept orders from worldwide.
        </div>
      </li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
