<div id="primary">
	<header>
		<h1 id="what-is">
			<span>Partner with us to get most out of Sweetly</span> <br /><label></label>
		</h1>
	</header> <!-- #what-is -->
  <section class="partners">
    <article class="community">
      <header>
        <h1>Become Community Partner</h1>
        <h2>Host Sweetly store with less investment</h2>
      </header>
      <p>
        <%= image_tag "sjs.jpg" %>
      </p>
      <ul>
        <li>Perfect for <span>Community fundraisers or Aspiring entrepreneurs</span></li>
        <li><span>Earn 25%</span> on every product</li>
        <li><span>Return unsold inventory</span> at no cost</li>
      </ul>
    </article>
    <article class="wholesale">
      <header>
        <h1>Become Wholesale Partner</h1>
        <h2>Purchase products at 45% discount</h2>
      </header>
      <p>
        <%= image_tag "wholesale.jpg" %>
      </p>
      <ul>
        <li><span>Select from wide-range</span> of unique handmade designs.</li>
        <li><span>45% discount</span> on your wholesale order.</li>
        <li><span>Customize</span> designs to match your style.</li>
      </ul>
    </article>
    <div class="clear">
    </div>
  </section>
</div>
<div class="cendiv">
	<div class="partner-form">
		<h1>Fill out below form to show your interest.</h1>
		<%= render :partial => 'partners/form' %>
	</div>
	<div class="partner-faq">
		<h2>FAQ</h2>
    <h3>Become Community Partner</h3>
		<ul>
			<li>
				<div class="que">
					A SJF coordinator works with you to decide how much products to sent to your event. We ship a minimum $2000 retail and hope you will sell 50-75% percent of the merchandise.
				</div>
			</li>
			<li>
				<div class="que">
					Sweetly provides a variety of promotional materials along with proven suggestion for promoting your sale.
				</div>
			</li>
			<li>
				<div class="que">
					Sweetly pays all shipping costs
				</div>
			</li>
		</ul>
    <h3>Become Wholesale Partner</h3>
    <ul>
			<li>
				<div class="que">
					Minimum order should be $500 to create new wholesale partner account
				</div>
			</li>
			<li>
				<div class="que">
					All prices listed online are suggested retail
				</div>
			</li>
			<li>
				<div class="que">
					A new Wholesale partner receives 45% discount and pays a 5% freight charge one the shipped, wholesale value of the order. After purchases exceed $10,000 wholesale on annual basis, the discount will be increased to 50%.
				</div>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
