<div class="container">
	<h1 style="width: 980px; margin: 0 auto;">Privacy Policy- updating soon...if you need info please contact us at <a href="mailto:hello@sweetly.co">hello@sweetly.co</a>. Thank you for your co-operation.</h1>
</div>
