<div class="big_loader">
  <%= image_tag "big-ajax-loader.gif" %>
</div>
<div class="showcase_promo hide">
  <div class="desc">
    <h2>Explore the wide range of handmade jewelry.</h2>
    <p>Sweetly works with organizations, community groups, students groups, and individuals who retail or resell our products and get very good returns. <a id="getintouch_showcase">Get in touch</a> to show your interest.</p>
    <div id="partner_showcase" class="partner-form">
      <h5 class="headline">Please fill out below form:</h5>
      <%= render :partial => "partners/form" %>
    </div>
  </div>
  <div class="storenote">** We are working on online store for partners. Where you can give customize orders or purchase products directly at wholesale price.</div>
</div>
<div class="product_photos">
  <% @photos.each do |photo| %>
    <a rel="showcase" href="<%= photo.photo %>" class="photo"><%= image_tag photo.thumbnail_2 %></a>
  <% end %>
  <div class="clear">
  </div>
</div>

