<div class="big_loader">
  <%= image_tag "big-ajax-loader.gif" %>
</div>
<div class="showcase_promo hide">
  <div class="desc">
    <h2>Explore the wide range of handmade jewelry.</h2>
    <p>Our team is working on creating online store.  Till then you can Explore the wide range of Handmade Jewelry.</p>
    <p>Sweetly works closely with rural women with design-focused community development approach to create
beautiful handmade jewelry designs. We seek to work with partners to create beautiful world while doing business for good. </p>
    <p><button id="getintouch_showcase">Get in touch</button> to show your interest.</p>
    <div id="partner_showcase" class="partner-form">
      <h1>Please fill out below form:</h1>
      <%= render :partial => "partners/form" %>
    </div>
  </div>
</div>
<div class="product_photos">
  <% @photos.each do |photo| %>
    <a rel="showcase" href="<%= photo.photo %>" class="photo"><%= image_tag photo.thumbnail_2 %></a>
  <% end %>
  <div class="clear">
  </div>
</div>

