<div id="primary">
	<header>
		<h1 id="what-is">
			<span>Host a Sweetly jewelery store in your community</span> <br /><label>Enable yourself to sell Sweetly jewelry with less invenstment</label>
		</h1>
	</header> <!-- #what-is -->
	<aside id="whatwedo">
		<p>Sweetly Jewelry Store enables groups to sale our beautiful designs by providing products and promotional material without the large investment. You can host a store at community festivals/events. When your festival/event is over, simply send us back the inventory you have left over and the proceeds. 20-25% of total sales are  given to festival/event organizers for their efforts. </p>
	</aside>
	<div class="sjs-img">
		<%= image_tag("sjs-page.jpg") %><%= image_tag("sjs-page1.jpg") %>
	</div>
</div>
<section class="three-steps">
	<h1>Follow these three simple steps to get started</h1>
	<ul>
		<li>
			<h1>1</h1>
			<h2>Decide upon a date and location and place your order below for SJS</h2>
			<img src="http://cdn1.iconfinder.com/data/icons/dot/64/arrow_right_2.png" />
		</li>
		<li>
			<h1>2</h1>
			<h2>Contact us or refer <a href="http://example.com/">resources</a> to learn how you can make event successful</h2>
						<img src="http://cdn1.iconfinder.com/data/icons/dot/64/arrow_right_2.png" />
		</li>
		<li class="last">
			<h1>3</h1>
			<h2>Return the inventory that you were not able to sell keeping 20% of proceeds. 
		</li>
		<div class="clear"></div>
	</ul>
</section>
<div class="cendiv">
	<div class="partner-form">
		<h1>Fill out below form to show your interest.</h1>
		<%= render :partial => 'partners/form' %>
	</div>
	<div class="partner-faq">
		<h2>FAQ</h2>
		<ul>
			<li>
				<div class="que">
					A SJF coordinator works with you to decide how much products to sent to your event. We ship a minimum $2000 retail and hope you will sell 50-75% percent of the merchandise. 
				</div>
				<div class="ans">
					This is wornderful. You can get jewelry at 45% discount and earn the profit by reselling in you store.
				</div>
			</li>
			<li>
				<div class="que">
					SweetlyDesigns provides a variety of promotional materials along with proven suggestion for promoting your sale.
				</div>
				<div class="ans">
					This is wornderful. You can get jewelry at 45% discount and earn the profit by reselling in you store.
				</div>
			</li>
			<li>
				<div class="que">
					SweetlyDesigns pays all shipping costs
				</div>
				<div class="ans">
					This is wornderful. You can get jewelry at 45% discount and earn the profit by reselling in you store.
				</div>
			</li>

		</ul>
	</div>
	<div class="clear"></div>
</div>
