<%= form_for(@subscription, :remote => true) do |f| %>
	Subscribe to our email newsletter
	<div class="subscription">
	 	<%= f.text_field :email, :class => "text" %><%= f.submit "Subscribe", :id => "subscribe" %>
	</div>
<% end %>
