.home-about {
  background: #f2f2f2 url("/assets/noise.png") left top repeat;

  #primary {
    height: auto;
    background-image: none;
    border-bottom: 0 none;
  }

  .desc {
    width: 880px;
    border-bottom: double 3px #ccc;
    border-top: double 3px #ccc;
    padding-bottom: 30px;
    margin-top: 10px;

    p {
      padding-top: 20px;
      line-height: 22px;
      text-align: left;
    }
  }

  .ourteam {
    width: 900px;
    margin: 0 auto;

    h1.what-is {
      @extend #what-is;
      padding-top: 40px;
    }

    ul {
      padding-top: 40px;
    }

    li {
      padding-bottom: 20px;
      clear: left;

      div {
        padding-top: 10px;
        padding-left: 180px;

        h2 {
          padding-bottom: 15px;
          font-size: 15px;

          span {
            font-size: 12px;
            font-weight: normal;
          }
        }

        p {
          font-size: 12px;
          padding-bottom: 7px;
        }
      }

      img {
        width: 150px;
        float: left;
      }
    }
  }
}
