.home-contact {

  h1.title {
    font-family: 'Cambo', serif;
    font-size: 50px;
    padding-top: 30px;
  }

  .office {
    width: 460px;
    margin: 60px auto 100px auto;
    @include  box-shadows(0, 0, 10px, #999);
    @include rounded-corners(5px);
    border: solid 1px #ccc;
    padding: 30px 40px;
    line-height: 20px;
    background-color: #f9f9f9;

    address {
      float: left;
      width: 210px;
      font-size: 14px;
      margin-right: 40px;

      h2 {
        font-size: 16px;
        padding-bottom: 10px;
      }

      a {
        text-decoration: underline;
      }
    }

    address.last {
      margin-right: 0;
    }
  }
}
