.home-goodwillband{
  .cendiv {
    border-top: solid 1px #ccc;
  }
  #primary{
    height: auto;    
    background-image: none;
    border: 0 none;
  }
  .band-select{
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
     h1{
        font-size: 25px; 
        font-weight: normal; 
        color: #D43CD2;
        text-align: center;
      }
    .bands{
      padding-top: 30px;
      ul{
        margin: 0;
        padding: 0;
      }
      li{
        margin-right: 30px;
        width: 300px;
        float: left;
        margin-bottom: 20px;
        list-style-type: none;
        height: 296px;
      }
      li.last{
        margin-right: 0;
      }
    }
  }
  #whatwedo{
    font-size: 14px;
    padding-top: 20px;
    margin-top: 30px;
    border-top: double 3px #ccc;
  }

}    

