// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-index {
  #primary {
    height: 525px;
  }

  #shop-learn-involve {
    width: 860px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;

    .learn-div, .shop-div, .involve-div {
      position: absolute;
      width: 830px;
      text-align: center;
      height: 50px;
      font-family: 'Cambo', serif;
      left: 0px;
      top: 430px;
      background-color: #fff;
      padding: 20px;
      font-size: 30px;
      display: none;
      z-index: 10;
    }

    .shop-div{

      img {
        position: absolute;
        left: 110px;
        top: -44px;
      }
    }

    .learn-div{
      img {
        position: absolute;
        left: 414px;
        top: -44px;
      }
    }

    .involve-div{
      img {
        position: absolute;
        left: 714px;
        top: -44px;
      }
    }

    a {
      display: block;
      background-color: #fff;
      float: left;
      @include rounded-corners(5px);
      width: 250px;
      height: 313px;
      margin-right: 50px;
      position: relative;
      border: solid 1px #ccc;

      &:hover {

        img {
          @include box-shadow(0 0 20px #000);
        }
      }

      img {
        @include add-transition-box-shadows(0.5s,ease-out);
        @include rounded-corners(5px);
        @include box-shadow(0 0 10px #666);
      }

      h3 {
        text-align: center;
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 250px;
        font-size: 20px;
      }
    }

    a.last {
      margin-right: 0px;
    }
  }
}

#designer-display{
  display: none;
  position: relative;
  @include center-980;

  h1 {
    padding-top: 124px;
  }

  .model {
    position: absolute;
    top: -24px;
    right: 10px;
  }

  img.designer-image {
    padding-top: 9px;
  }

  .quote-container{

    @include rounded-corners(5px);
    position: absolute; 
    left: 159px; 
    top: 50px; 
    width: 545px;
    border: solid 1px #E2E2E2;
    padding: 10px;
    background-color: #F2F2F2;
    line-height: 23px;
    text-align: left;

    .quote{
      font-style: italic;

      cite{
        float: right;
        padding:{
          right: 10px;
          top: 5px;
        }
        font-size: 11px;

        span {
          color: #666;
        }
      }

      .comment-arrow {
        position: absolute; 
        left: 20px;
        top: 94px;
      }
    }
  }

  a.shop-button{
    position: absolute;
    top: 170px;
    left: 244px;
    &:active{
      top: 171px;
    }
  }

  ul {
    position: absolute;
    top: 232px;
    left: 181px;
    font-size: 12px;

    li {
      float: left;
      border-right: solid 1px #ccc;
      line-height: 13px;
      a {
        padding: 0 10px;
        color: #370E0E;
        &:hover{
          color: lighten(#370E0E, 20%);
        }
      }
    }

    li.last {
      border-right: 0 none;
    }
  }
}
#beatiful-creations {
  width: 920px; 
  margin: 50px auto 75px auto;

  h1 {
    text-align: center; 
    margin-bottom: 30px; 
    font: {
      family: 'Cambo',serif; 
      size: 35px;
    }
  }

  div {
    img {
      float: left;
      margin-right: 3px;
      margin-bottom: 3px;
    }

    img.last {
      margin-right: 0;
    }
  }
}
#getinvolve {
  width: 920px; 
  margin: 50px auto;

  h1 {
    text-align: center; 
    margin-bottom: 30px; 
    font: {
      family: 'Cambo',serif; 
      size: 35px;
    }
  }

  div.box {
    @include box-shadows(0,0,15px,#e2e2e2);
    @include rounded-corners(5px);
    @include add-transition-box-shadows(0.5s,ease-out);
    margin-right: 30px;
    float: left; 
    width: 284px;
    padding: 20px 0px 15px 0px;
    border: solid 1px #f9f9f9;
    a{
      color: #333;
    }

    &:hover {
      @include box-shadows(0,0,25px,#000);
    }

    h2 {
      font-size: 15px;
      padding: 15px 20px;
    }

    img {
      margin-left: 20px;
      @include rounded-corners(5px);
    }

    li {
      padding: 0px 10px 10px 20px;
      font-size: 12px;

      a {
        color:#3431F1;
        font-size: 13px;
      }
    }
  }

  div.last {
    padding-right: 0;
    margin-right: 0;
  }
}

#awards-and-news {
  @include center-980;

  h1 {
    text-transform: uppercase; 
    position: absolute; 
    text-align: center; 
    background-color: #fff; 
    left: 0px; 
    top: -13px;
    font-size: 11px;
    color: lighten(#999, 15%);
    padding: 5px 10px;
    font-weight: normal;
    text-shadow: 0 0 1px #fff;
  }

  .news {
    width: 470px; 
    float: right;
    border-top: solid 1px #e2e2e2; 
    position: relative;

    li {
      float: left;
    }

    img {
      margin-top: 30px;
      margin-left: 30px;
    }
  }

  .awards {
    width: 470px; 
    float: left;
    border-top: solid 1px #e2e2e2;
    position: relative; 

    img{
      margin: 40px 25px 0 10px;
    }
  }

}
span.dot_pulse{
  position:absolute;
  left:-50px;
  top:-50px;
  margin:0;
  padding:0;
  width:200px;
  height:250px;
  background-color:transparent;
  border:10px solid #ff8e1e;
  -webkit-animation-name:dotPulse;
  -moz-animation-name:dotPulse;
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
  opacity:.2;
  @include rounded-corners(5px);
}
@-webkit-keyframes 'dotPulse'{
  0%{-webkit-transform:scale(0);
  opacity:0}10%{-webkit-transform:scale(0.3);
  opacity:0}30%{-webkit-transform:scale(0.7);
  opacity:.2}100%{opacity:0;
  -webkit-transform:scale(0.9)}
}
@-moz-keyframes dotPulse{0%{-moz-transform:scale(0);
  opacity:0}10%{-moz-transform:scale(0.3);
  opacity:.2}30%{-moz-transform:scale(0.7);
  opacity:.1}100%{opacity:0;-moz-transform:scale(1)}
}

