$main-color: #423FF2;
$button-from-color: #93E352;
$button-to-color: darken($button-from-color, 15%);

@mixin gradient-background($from,$to) {
  background-color: $from;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, $from, $to);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, $from, $to);

  /* IE 10 */
  background: -ms-linear-gradient(top, $from, $to);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, $from, $to);

  background: linear-gradient(top bottom, $from, $to);
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius; /* future proofing */
  -khtml-border-radius: $radius; /* for old Konqueror browsers */
}

@mixin box-shadows($left, $top, $radius, $color) {
  -webkit-box-shadow: $left $top $radius $color; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
       -moz-box-shadow: $left $top $radius $color; /* FF3.5 - 3.6 */
            box-shadow: $left $top $radius $color; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

@mixin center-980 {
  width: 980px;
  margin: 0 auto;
}

@mixin add-transition($property, $duration, $fx) {
  -webkit-transition: $property $duration $fx;
     -moz-transition: $property $duration $fx;
      -ms-transition: $property $duration $fx;
       -o-transition: $property $duration $fx;
          transition: $property $duration $fx;
}
@mixin add-transition-box-shadows($duration, $fx) {
  @include add-transition(-webkit-box-shadow, $duration, $fx);
  @include add-transition(-moz-box-shadow, $duration, $fx);
  @include add-transition(box-shadow, $duration, $fx);
}

body{
  font:{
    family: 'Duru Sans', Verdana, "Times New Roman", sans-serif;
  }
}
a{
  color: $main-color;
  text-decoration: none;

  &:hover{
    color: lighten($main-color, 12%);
  }
}
.button{
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  text-shadow: 0px -1px 0px #000;

  @include gradient-background($button-from-color,$button-to-color);
  @include rounded-corners(3px);
  @include box-shadows(0, 1px, 1px, #666);
  @include add-transition-box-shadows(0.5s,ease-out);
  border: solid 1px darken($button-to-color, 2%);

  &:active {
    position: relative;
    top: 1px;
  }

  &:hover {
    color: #fff;
    @include box-shadows(0, 0px, 10px, #666);
  }
}
.clear{
  clear: both;
}
.centxt{
  text-align: center;
}
.cendiv{
  margin: 0 auto;
  width: 980px;
}
.hide{
  display: none;
}
.error{
  border: solid 1px #FA302D;
  background-color: #FFCCD5;
  padding: 5px 20px;
  margin: 10px 0;
  line-height: 20px;
  font-size: 13px;
}
.success{
  border: solid 1px #235529;
  background-color: #C3FFCC;
  padding: 5px 20px;
  margin: 10px 0;
  line-height: 20px;
  font-size: 13px;
}
.container {
  padding-top: 35px;
}
h1.title {
  font-size: 30px;
  font-weight: normal;
}
.ft-btn{
  padding: 80px 0 30px 0;
}
.partner-form{
  padding-top: 30px;
  padding-left: 50px;
  float: left;
  width: 400px;
  h1{
    font-size: 20px;
    padding-bottom: 20px;
  }
  div.field{
    .watermark{
      color: #999;
    }
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    input[type="text"], textarea {
      padding: 3px 10px;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      width: 210px;
      border: solid 1px #ccc;
      border-top: solid 1px #666;
      background-color: #f5f5f5;
    }

    textarea {
      width: 350px;
    }
  }
  div.email{
    float: none;
    input[type="text"]{
      width: 300px;
    }
  }
  div.city{
    float: none;
    input[type="text"]{
      width: 210px;
    }
  }
  div.actions{
    clear: left;
    padding-top: 20px;
    button{
      border: solid 2px white;
      border-radius: 5px;
      padding: 7px 15px;
      box-shadow: 0 0 2px #333;
      background-color: #1967F7;
      cursor: pointer;
      font-size: 14px;
      color: white;
      font-weight: bold;
      text-shadow: 0px -1px 1px #333;
    }
  }
  ul{
    margin: 0;
    padding: 0 0 0 20px;
  }
  li{
    padding-bottom: 20px;
    list-style-type: none;
    label{
      width: 100px;
      font-size: 12px;
      padding-top: 5px;
      float: left;
    }
    div{

    }
    input.text{
      width: 250px;
      padding: 3px;
    }
  }
}
.partner-faq{
  width: 400px;
  float: left;
  margin-left: 50px;
  padding-top: 35px;
  h2{
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 15px;
  }
  h3 {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 13px;
  }
  ul{
    margin:0;
    padding-left: 50px;
  }
  li{
    list-style-type: disc;
    font-size: 12px;
    padding-bottom: 20px;

    div.que{
      padding-bottom: 5px;
      text-decoration: underline;
    }
    div.ans{
    }
  }
}

/*
* header
*/
#masthead{
  width: 1000px;
  margin: 0 auto;
  height: 80px;

  a#logo{
    display: block;
    color: #fff;
    float: left;
    padding-top: 25px;

    img {
      width: 150px;
    }
    h1{
      padding: 10px 20px;
      font:{
        weight: normal;
        style: italic;
        size: 15px;
      }
      border-radius: 0 0 7px 7px;
      -webkit-border-radius: 0 0 7px 7px;
      -moz-border-radius: 0 0 7px 7px;
      @include gradient-background(#999,#333);
    }
  }

  ul#topnav{
    float: right;
    padding-top: 38px;
    li{
      display: inline;
      margin-left: 20px;
    }
  }
}

#whatwedo{
  border-bottom: 3px double #CCCCCC;
  font-size: 15px;
  line-height: 25px;
  @include center-980;
  padding: 30px 0;
  text-align: center;
  p {
    width: 840px;
    margin: 0 auto;
  }
}
.parnters_button{
  @include gradient-background(lighten(#F7001A, 25%), lighten(#E10012, 15%));
  border: solid 1px #F7001A;
}
#primary {
  @include gradient-background(#fff,#f9f9f9);
  @include box-shadow(0 2px 3px #E2E2E2);
  height: 451px;
  border-bottom: solid 1px #ccc;
  #whatwedo {
    font-size: 14px;
    padding-top: 20px;
    margin-top: 30px;
    border-top: double 3px #ccc;
  }
}

#what-is {
  text-align: center;
  font-family: 'Cambo', serif;
  padding-top: 20px;

  span {
    font-size: 40px;
    padding-bottom: 10px;
  }

  label {
    font-size: 20px;
    padding-top: 10px;
    display: block;
    font-weight: normal;
  }
}

/*
* footer
*/
#ft {
  margin-top: 50px;

  .terms {
    margin: 0 auto;
    width: 450px;
    padding: 10px;
    text-align: center;
    li {
      display: none;
      line-height: 15px;
    }
    li.last{
      border-right: 0 none;
    }

    li.social{
      display: block;
      padding-top: 5px;
      font-size: 14px;
      font-weight: bold;
      a {
        border-bottom: double 3px;
      }
    }
  }

  .point10 {
    width: 200px;
    text-align: center;
    font-size: 10px;
    color: #ccc;
    margin:0 auto;
    padding: 50px 0;
  }
}

.desc {
  width: 880px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  line-height: 24px;

  h4 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
  }
}
