.models-container {
  width: 980px;
  margin: 0 auto;
  background: 0 none !important;
  border: 0 none !important;
  height: auto !important;
}

.models-ul {
  padding-top: 40px;

  li {
    float: left;
    margin-right: 30px;
    height: 350px;
  }
}
