// Place all the styles related to the Partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-partners {

  #primary {
    height: auto;
  }
}

.partners {
  padding: 40px 0 60px 130px;
  width: 980px;
  margin: 0 auto;

  article {
    width: 310px;
    padding: 15px;
    float: left;
    border: solid 1px #ccc;
    @include box-shadow(0 0 5px #e2e2e2);
    @include add-transition-box-shadows(0.5s,ease-out);
    @include border-radius(5px);
    text-align: center;
    height: 370px;
    background-color: #fff;
    margin-left: 50px;
    font-family: 'Cambo', serif;

    &:hover {
      @include box-shadow(0 0 15px #666);
    }

    header {

      h1 {
        font-size: 20px;
        color: lighten(#3431F1, 10%);
      }

      h2 {
        font-size: 13px;
        padding: 10px 0 20px 0;
        color: #888;
      }
    }

    ul {
      padding-top: 20px;

      li {
        padding-top: 15px;
        font-size: 14px;
        text-align: left;
        line-height: 20px;
        list-style-type: disc;
        margin-left: 28px;
        color: #555;

        span {
          text-decoration: underline;
          color: #950004;
        }
      }
    }
  }
}

.actions {

  select {
    font: 16px 'Duru Sans', Verdana, "Times New Roman", sans-serif;
    margin-left: 5px;
    margin-right: 10px;
  }
}
