// Place all the styles related to the Partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-partners {

  #primary {
    height: auto;
    @include gradient-background(#fff,#f9f9f9);
  }
}

.partner-adv {
  padding: 30px 0px 70px 0;
  width: 980px;
  margin: 0 auto;

  div {
    float: left;
    width: 375px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;

    ul {

      li {
        padding-bottom: 40px;
        padding-top: 10px;
        font-size: 12px;
        line-height: 18px;
        position: relative;

        h2 {
          font-weight: bold;
          font-family: 'cambo' serif;
          font-size: 18px;
          padding-bottom: 5px;
          text-decoration: underline;
        }

        h3 {
          font-family: Georgia, serif;
          position: absolute;
          left: -9px;
          top: 12px;
          margin-left: -30px;
          font-size: 55px;
          color: #E2E2E2;
          font-weight: normal;
        }
      }
    }
  }

  div.first {
    border-right: solid 1px #ccc;
  }
}

.our_partners {
  width: 980px;
  margin: 0 auto;

  h1 {
    font-size: 35px;
    text-align: center;
    font-family: 'Cambo', serif;
    font-weight: normal;
  }

  div {
    border-top: 0 none !important;
    border-bottom: 0 none !important;
  }

  li {
    list-style-image: url(../assets/star.png);
    list-style-position: outside;
    h2 {
      text-decoration: none !important;
    }
  }
}

.partners {
  padding: 40px 0 60px 130px;
  width: 980px;
  margin: 0 auto;

  article {
    width: 310px;
    padding: 15px;
    float: left;
    border: solid 1px #e2e2e2;
    @include add-transition-box-shadows(0.5s,ease-out);
    @include border-radius(5px);
    text-align: center;
    height: 370px;
    background-color: darken(#fff, 3%);
    margin-left: 50px;
    font-family: 'Cambo', serif;

    &:hover {
      @include box-shadow(0 0 10px #999);
    }

    header {

      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 13px;
        padding: 10px 0 20px 0;
        color: #888;
        font-weight: normal;
      }
    }

    ul {
      padding-top: 20px;

      li {
        padding-top: 15px;
        font-size: 14px;
        text-align: left;
        line-height: 20px;
        list-style-type: disc;
        margin-left: 28px;
        color: #555;

        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.actions {

  select {
    font: 16px 'Duru Sans', Verdana, "Times New Roman", sans-serif;
    margin-left: 5px;
    margin-right: 10px;
  }
}
