.home-partner, .home-sjs{
  
  .adv-cont{
    @include center-980;
    padding-top: 45px;  

    .adv {
      float: left;
      width: 490px;
      margin-left: 30px;
      margin-right: 20px;
      
      li {
        padding-bottom: 20px;
        line-height: 25px;
        padding-left: 35px;
        background: transparent url("../assets/asterisk_pink.png") 10px 6px no-repeat;
      }
    }      
  }
}
