.product_photos {
  width: 940px;
  margin: 20px auto;
  .photo {
    margin-bottom: 5px;
    margin-right: 5px;
    display: block;
    float: left;
    vertical-align: middle;
    text-align: center;
    font-size: 128px;
    height: 150px;
    width: 150px;
    img {
      border: solid 1px #ccc;
      display: none;
    }
  }
}

#masthead {
  height: 60px !important;
}
.big_loader {
  margin: 200px auto;
  width: 200px;
  text-align: center;
}
.showcase_promo {
  margin-bottom: 2px;
  font-size: 20px;
  color: #333;
  padding: 10px 0;
  /*@include box-shadows(0, 0px, 1px, #ccc);*/

  div.storenote {
    font-size: 11px;
    font-style: italic;
    margin: 0 auto;
    width: 940px;
    text-align: center;
    padding-top: 10px;
  }
  div.desc {
    width: 940px;
    margin: 0 auto;
    border-bottom: double 3px #ccc;

    h2 {
      font-size: 35px;
      font-family: 'Cambo', serif;
      text-align: center;
      padding-bottom: 10px;
    }

    p {
      font-size: 15px;
      line-height: 28px;
      padding-top: 10px;
      width: 830px;
      margin: 0 auto;

      a {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    button {
      @include button;
      font-size: 13px;
      padding: 4px 10px 5px;
    }

    .partner-form {
      display: none;
      margin-top: 30px;
      padding-bottom: 30px;
      border-top: solid 2px #000;
      float: none;
      padding-left: 0;
      width: auto;
      text-align: left;

      div.field {
        float: none;
      }
    }
  }
}
