.home-story {
  background-color: #f2f2f2;

  .next {
    font-family: 'Cambo', serif;

     h1 {
       font-size: 40px;
       padding: 30px 0;
       text-align: center;
     }

     h2 {
       text-align: center;
       font-size: 20px;
     }

     ul {
       width: 450px;
       margin: 0 auto;

       li {
         font-size: 20px;
         padding-bottom: 10px;
         list-style-type: disc;
       }
     }
  }

  .impact {
    font-size: 26px;
    text-align: center;
    font-family: 'Cambo', serif;
    padding: 40px 0 40px 0;
    line-height: 40px;
    border-top: solid 8px lighten(#ccc, 10%);
    border-bottom: solid 1px #ccc;

    span {
      border-bottom: solid 2px #999;
    }
  }

  .container {
    @include center-980;
    min-height: 600px;
  }

  #what-is {
    span {
      font-size: 30px;
      border-bottom: solid 2px;
      padding-bottom: 5px;
    }
  }

  h1.title {
    font-family: 'Cambo', serif;
    font-size: 40px;
    padding-top: 50px;
  }
}
.timeline {
  padding-top: 50px;

  .work {
    border-right: solid 8px lighten(#ccc, 10%);
    float: left;
    width: 486px;

    .work_details {
      float: left;
      padding-top: 40px;
      width: 422px;

      .title {
        font-weight: bold;
        padding-top: 0px;
        padding-bottom: 10px;
        border-bottom: solid 8px lighten(#ccc, 10%);

        h2 {
          padding-left: 10px;
        }
      }

      .desc {
        font-size: 12px;
        position: relative;
        line-height: 20px;
        width: auto;
        text-align: left;
        padding: 10px 0 50px 10px;

        img {
          position: absolute;
          top: 130px;
          left: 85px;
        }

        img.first {
          top: -48px;
          left: 635px;
        }

        img.second {
          left: 80px;
          top: 130px;
        }

        img.third {
          left: 10px;
          top: 160px;
        }

        img.fourth {
          left: 100px;
          top: 350px;
        }

        img.fifth {
          left: 112px;
          top: 100px;
        }

        img.sixth {
          top: 110px;
          left: 80px;
        }

        img.seventh {
          top: 150px;
          left: 80px;
        }

        img.eighth {
          top: 250px;
          left: 110px;
        }

        img.ninth {
          top: 120px;
          left: 40px;
        }

        img.tenth {
          top: -220px;
          left: 660px;
          @include box-shadows(0, 0, 10px, #333);
          @include rounded-corners(2px);
        }

      }

    }

    .huwib {
      h2 {
        margin-top: -20px;
      }
    }

    .right {
      margin-top: -140px;
      margin-left: 557px;
    }

    .month {
      cursor: pointer;
      width: 120px;
      height: 120px;
      font-weight: bold;
      color: #871B35;
      @include rounded-corners(130px);
      @include add-transition-box-shadows(0.5s,ease-out);
      border: solid 8px lighten(#ccc, 10%);
      background-color: #fff;
      float: right;
      margin-right: -72px;

      &:hover {
        @include box-shadows(0, 0, 10px, #999);
      }

      span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 120px;
        height: 120px;
        font-size: 20px;

        label {
          font-size: 13px;
        }
      }
    }
  }

}
